.DS_Store
node_modules/
npm-debug.log
bower_components/
.icloud
*.icloud
*.lock

demos/*
dist/*
examples/*
libs/*
CHANGELOG.md
src/*

lib/core/metadata.js
lib/core/MetadataBlog.js
website/translated_docs
website/build/*
website/build/PptxGenJS/*
website/yarn.lock
website/node_modules
!website/gulpfile.js
!website/package.json

website/i18n/*
!website/i18n/en.json
.rpt2_cache
