.DS_Store
node_modules/
npm-debug.log
bower_components/
.icloud
*.icloud
*.lock

dist/*
examples/*
libs/*
CHANGELOG.md
package.json

lib/core/metadata.js
lib/core/MetadataBlog.js
website/translated_docs
website/build/*
website/build/PptxGenJS/*
website/yarn.lock
website/node_modules
!website/gulpfile.js

website/i18n/*
!website/i18n/en.json
