.DS_Store
.rpt2_cache
.icloud
*.icloud
*.lock

demo/*
demo-react/*
demos/
docs/*
dist/
examples/
libs/
node_modules/
src/*

website/.docusaurus
website/build
website/node_modules
website/yarn.lock

!website/gulpfile.js
!website/package.json
!website/i18n/en.json
