body { font-family:Roboto,Helvetica,Arial,Verdana,sans-serif; background:#f7f7f7; color:#4488CC; font-size:11px; }
h3 {
    color: #3498DB;
    margin: 6px 0 2px 8px;
    font-weight: normal;
}

.flatBtn {
    display: inline-block;
    /*font-family: Roboto,Helvetica,Arial,Verdana,sans-serif;*/
	font-weight: 100;
    font-size: 18px !important;
    color: #ffffff !important;
    border: 0 !important;
    padding: 8px 30px;
    margin: 0;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    box-shadow: 0 2px 0 #c7c7c7;
}

.headerTab { display:table; box-sizing:border-box; width:100%; font-size:12px; margin-bottom:20px; }
.headerTab > div { display:table-row; }
.headerTab > div > div { display:table-cell; padding:5px 10px; vertical-align:middle; font-size:16px; }
.headerTab > div > div:first-child { white-space:nowrap; width:1%; min-width:48px; padding:5px 0 5px 10px; }
.headerTab svg { vertical-align:middle; width:48px; height:48px; }
